body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}

.card {
    background-color: white;
    width: 600px;
    padding: 25px; /*Más padding → mejor lectura*/
    margin: 40px auto;  /* margin: auto → centra horizontalmente */
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.card button {
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer; /*cursor: pointer → indica que es clickeable*/
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.card button:hover { 
    box-shadow: -5px 5px 23px #ff0000,
    5px 5px 23px #ffee01;
    transform: translateY(-2px); /*transform: translateY(-2px) → sensación de “levantar”*/
    background-color: #000000;
    color: aliceblue;
}
.card button:active {
    transform: translateY(0);
    box-shadow: none;
}

.card h1,
.card h2 { 
    color: #2f6dab;
    font-size: 32px;
    font-family: cursive;
    margin-bottom: 15px;
    position: relative;
}
.card h1::after,
.card h2::after { /*Línea decorativa debajo del título */
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #0d243a;
}


.card p {
    color: #555555;
    font-size: 18px;
    line-height: 1.6;
}

.card input:focus {
    outline: none;
    border-color: #49144e;
    color: #f58bff;
    background-color: #eafff8;
}