body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: rgb(114, 114, 114);
    padding: 30px;
    border-radius: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}
.card button {
    cursor: pointer;
    margin-top: auto;
    align-self: center;
}

